.form-group {
    margin: 25px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select  {
    display: block;
    width: 200px;
}
button {
    display: block;
    width: 100px;
}
.sendForm {
    border-radius: 2px;
    color: white;
    background-color: rgb(46, 189, 94);
} 