<form [formGroup] = "frontEndDeveloperForm" novalidate (ngSubmit) = "submit()">
    <div class = "form-group">
        <label>Name:</label>
        <input name = "name" formControlName = "firstName">
        <div *ngIf="frontEndDeveloperForm.controls['firstName'].invalid && 
                    frontEndDeveloperForm.controls['firstName'].touched">
                    Name is not specified
        </div> 
    </div>


    <div class = "form-group">
        <label>Surname:</label>
        <input name = "lastName" formControlName = "lastName"> 
        <div *ngIf = "frontEndDeveloperForm.controls['lastName'].invalid && 
                      frontEndDeveloperForm.controls['lastName'].touched">
                      Surname is not specified
        </div> 
    </div>


    <div class = "form-group">
        <label>Date of birth:</label> 
        <mat-form-field >
            <input matInput [matDatepicker] = "picker" placeholder = "Choose a date" 
                formControlName = "dateOfBirth">
            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>


    <div class ="form-group">
        <label>JavaScript framework:</label>
        <select name = "framework" formControlName = "framework" >
            <option value = "" selected>Choose your framework</option>
            <option *ngFor = "let framework of frameworks">
                {{framework}}
            </option>
        </select>
    </div>


    <div class = "form-group">
        <div *ngIf = "frontEndDeveloperForm.controls.framework.valid">
              <label>Version:</label>
              <select name="frameworkVersion" formControlName = "frameworkVersion">
                  <option value = "" selected>Choose version</option>
                  <option *ngFor = "let version of frameworksVersion[frameworkSelected]" 
                          value = "version">{{version}}
                  </option>
              </select>
        </div>
    </div>


    <div class = "form-group">
        <label>Email:</label>
        <input class = "form-control" name = "email" formControlName = "email">
        <div *ngIf="frontEndDeveloperForm.controls['email'].invalid &&
                    frontEndDeveloperForm.controls['email'].touched">
                    Incorrect email
        </div>
        <div *ngIf = "frontEndDeveloperForm.controls['email'].invalid &&
                    frontEndDeveloperForm.controls['email'].touched">
                    This email already exists
        </div>
    </div>
  

    <div class = "form-group">
        <div formArrayName = "hobby" 
            *ngFor="let item of frontEndDeveloperForm.get('hobby')['controls']; 
            let i = index;">
                <div [formGroupName] = "i">
                  <div>
                      <label>Your hobby</label>
                      <input name = "name" formControlName="name">
                  </div>
                  <div>
                      <label>Duration</label>
                      <input name = "duration" formControlName = "duration">
                  </div>
                </div>
        </div> 
    </div>
  
    
    <div class = "form-group">
        <button (click) = "addHobby()">
            Add hobby
        </button>
    </div>
  

    <div class = "form-group">
        <button class = "sendForm" 
            [disabled] = "frontEndDeveloperForm.invalid">
            Send
        </button>
    </div>
</form> 

